.git
.vscode
.pytest_cache
.venv
__pycache__
**/__pycache__
*.py[cod]
*.log

.env
.env.*

vectorstore
data
logs
evaluation
tests
scripts
src
docs
ke_hoach_chatbot_rag.md
fix.py

frontend/node_modules
frontend/dist
frontend/.vite

README.md
requirements.txt